html, body{
    height: 100%;
}
textarea{
    resize: none;
}

ul{
    padding: 0;
}

.columns{
    height: 70vh;
}

.row{
    height: 100%;
}

#activityCont{
    height: 100%;
    border-radius: 10px;
    padding: 0;
    border: 5px double black;
    overflow: auto;
    width: 70%;
}
#parkedactBox{
    margin-top: 46px;
    overflow: auto;
}

#dayBox{
    height: 100%;
    border-radius: 10px;
    padding: 0;
    border: 5px double black;
    overflow: auto;
}

#dayBoxDummy{
    height: 100%;
    border-radius: 10px;
    padding: 0;
    border: 5px double black;
    overflow: auto;
    background: lightgrey;
}

#dummyText {
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}

.connectedSortable {
  height: 200px;
}

/*printing the red 30% line*/
.stroke {
  position:absolute;
  z-index: 10;
  width:100%;
  height:3px;
  background:red;
  left:0px;
  transform: translate(0px, 78px) rotate(0deg) scale(1, 1);
}

#grey {
  position:absolute;
  z-index: 10;
  width:100%;
  height:3px;
  background:grey;
  left:0px;
  transform: translate(0px, 78px) rotate(0deg) scale(1, 1);
}

#percentage{
  transform: translate(0px, 45px) rotate(90deg) scale(3.5, 2);

}

#percentage-grey{
  transform: translate(0px, 45px) rotate(90deg) scale(3.5, 2);
}

.readonly{
  cursor: not-allowed;
  background-color: #EEE;
  color: #9E9999;
}

.blueBack{
    background-color: rgba(0, 191, 255, 0.49);
}

.greenBack{
    background-color: rgba(87, 251, 55, 0.58);
}

.redBack{
    background-color: rgba(220, 20, 60, 0.42);
}

.yellowBack{
    background-color: rgba(255, 255, 0, 0.44);
}

.list-group-item{
    cursor: move;
}

#Schedule{
    height: 95%;
}

#parkedActivityView, #activityList{
    height: 95%;

}

.validationMessage{
  color: red;
}

.modalInput{
  width: 200px;
}

#emptyDayView{
  cursor: not-allowed;
}

.dayEraser {
  transform: translate(-20px, -20px) scale(1.5, 1.5);
}

.dayEraser:hover {
  color: red;
}

.dayButton >  .dayEraser {
 visibility: hidden; 
} 

.btn-warning:hover >  .dayEraser {
 visibility: visible;
}